*
    padding: 0
    margin: 0
    box-sizing: border-box

body
    background: #262626

#app
    background: lightblue
    color: beige
    font-family: Arial, Helvetica, sans-serif
    width: 100%
    height: 100vh
    overflow-y: auto
    display: flex

.game-svg
    flex: auto

.tiles
    filter: url("#goo-filter")

.ghost-tile
    fill: white
    fill-opacity: 0
    stroke: #999
    stroke-width: 1

    &.highlight
        stroke-width: 2
        stroke: #111
        fill-opacity: 0.1

$tile-0-color: hsl(180, 30%, 87%)
$tile-1-color: hsl(51, 62%, 87%)
$tile-2-color: hsl(110, 75%, 75%)
$tile-3-color: darken(desaturate($tile-2-color, 10), 10)

.level-0
    fill: $tile-0-color

.level-1
    fill: $tile-1-color

.level-2
    fill: $tile-2-color

.level-3
    fill: $tile-3-color

.path
    stroke: beige
    fill: none
    stroke-width: 20
    stroke-linecap: round
    stroke-linejoin: round

.path-node
    pointer-events: none
    stroke-width: 1

    &.open polygon
        fill: green
    &.closed polygon
        fill: red

// SIDEBAR
.sidebar
    display: none
    flex-direction: column
    gap: 1rem
    padding: 1rem
    background: #262626

    &.show-sidebar
        display: flex

.tool-presets
    display: flex
    gap: 0.5rem

.tool-preset
    padding: 0.5rem 1rem
    border: 0.2rem solid transparent
    border-radius: 0.2rem
    background-color: beige
    transition: transform 200ms

    &.selected
        border-color: hsl(344, 63%, 51%)
        transform: scale(1.1)
