*
    padding: 0
    margin: 0
    box-sizing: border-box

body
    background: #262626

#app
    color: beige
    font-family: Arial, Helvetica, sans-serif
    width: 100%
    height: 100vh
    overflow-y: auto

.editor
    display: flex
    height: 100vh

.game-svg
    background: lightblue
    width: 100%
    height: 100%
    display: block

@keyframes pop
    0%
        transform: scale(0)

    100%
        transform: scale(1)

.tile
    animation: pop 250ms cubic-bezier(0.34, 1.56, 0.64, 1)

.tiles
    filter: url("#goo-filter")

$tile-0-color: hsl(180, 30%, 87%)
$tile-1-color: hsl(51, 62%, 87%)
$tile-2-color: hsl(110, 75%, 75%)
$tile-3-color: darken(desaturate($tile-2-color, 10), 10)

.level-0
    fill: $tile-0-color

.level-1
    fill: $tile-1-color

.level-2
    fill: $tile-2-color

.level-3
    fill: $tile-3-color

.path
    stroke: beige
    fill: none
    stroke-width: 20
    stroke-linecap: round
    stroke-linejoin: round

.path-node
    pointer-events: none
    stroke-width: 1

    &.open polygon
        fill: green
    &.closed polygon
        fill: red

// SIDEBAR
.sidebar
    flex: 20rem
    display: flex
    flex-direction: column
    gap: 1rem
    padding: 1rem

.tile-presets
    display: flex
    gap: 0.5rem

.tile-preset
    padding: 0.5rem 1rem
    border: 0.2rem solid transparent
    border-radius: 0.2rem

    &.selected
        border: 0.2rem solid cyan
        transform: scale(1.2)

.preset-0
    background-color: $tile-0-color
.preset-1
    background-color: $tile-1-color
.preset-2
    background-color: $tile-2-color
.preset-3
    background-color: $tile-3-color
.preset-x
    background-color: #666
